
/* phone */
body { background-color: transparent; }
body.site:before { background: transparent none repeat-x scroll center top; background-size: auto auto; opacity: 1; }
.wb_sbg { background: transparent none repeat-x left top; }
.site-lang-en .wb_cont_inner { width: 360px; height: 100%; }
.site-lang-en .wb_cont_bg { width: 360px; margin-left: -180px; }
.site-lang-en .root { min-height: 100%; height: auto; }
#wb_element_instance2536_0 .btn-collapser { display: inline-block; background-color: #232830; border-color: #ffffff; }
#wb_element_instance2536_0 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance2536_0 .btn-collapser:hover { background-color: #232830; border-color: #c9b086; }
#wb_element_instance2536_0 .btn-collapser:hover > .icon-bar { background-color: #c9b086; }
#wb_element_instance2536_0 { width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance2536_0 ul { background: #232830 none repeat left top; }
#wb_element_instance2536_0 > ul { display: none; }
#wb_element_instance2536_0.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance2536_0.collapse-expanded > ul > li { display: block; }
#wb_element_instance2536_0.collapse-expanded li > ul { position: static; }
#wb_element_instance2536_0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance2536_0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance2536_0 ul, #wb_element_instance2536_0-det ul { border: 1px none #000000; }
#wb_element_instance2536_0, #wb_element_instance2536_0 ul, #wb_element_instance2536_0-det ul { text-align: right; }
#wb_element_instance2536_0 ul ul, #wb_element_instance2536_0-det ul { background: #232830 none repeat right top; }
#wb_element_instance2536_0 li, #wb_element_instance2536_0-det li { margin: 0px 5px 0px 5px; }
#wb_element_instance2536_0 li a, #wb_element_instance2536_0-det li a { padding: 15px 5px 15px 5px; border: 0px none #000000; font-style: normal; font: normal normal 16px 'Inter',Arial,sans-serif; font-family: 'Inter',Arial,sans-serif; color: #ffffff; text-decoration: none; line-height: 17px; text-transform: uppercase; background: transparent none no-repeat center top; }
#wb_element_instance2536_0 li.over > a, #wb_element_instance2536_0 li:focus > a, #wb_element_instance2536_0-det li.over > a, #wb_element_instance2536_0-det li:focus > a { border: 0px none #000000; font-style: normal; font: normal normal 16px 'Inter',Arial,sans-serif; font-family: 'Inter',Arial,sans-serif; color: #c9b086; text-decoration: none; line-height: 17px; text-transform: uppercase; background: transparent none no-repeat left center; background-size: auto auto; opacity: 1; }
#wb_element_instance2536_0 li.active > a, #wb_element_instance2536_0-det li.active > a { border: 0px none #000000; font-style: normal; font: normal bold 16px 'Inter',Arial,sans-serif; font-family: 'Inter',Arial,sans-serif; color: #ffffff; text-decoration: none; line-height: 17px; text-transform: uppercase; background: transparent none no-repeat left center; }
#wb_element_instance2536_0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance2536_0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance2536_0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance2535_0 { width: 100%; height: auto; max-width: 1493px; flex: 0 0 auto; }
#wb_element_instance2535_0.wb-anim-entry-on { animation: wb-anim-fade-in-none 0.6s ease-out; animation-iteration-count: 1; }
#wb_element_instance2535_0 > .wb_content { min-width: 20px; min-height: 20px; padding: 20px 20px 20px 20px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; justify-items: center; align-items: center; justify-content: flex-end; align-content: space-around; flex-wrap: wrap; }
#wb_header_1 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_header_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; background: rgba(66, 66, 68, 0.95) none repeat scroll left top; background-size: auto auto; opacity: 1; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance2_1 { opacity: 1; box-sizing: border-box; width: 32.23%; height: auto; min-width: 176px; max-width: 500px; margin: 0px 0px 23px 0px; flex: 0 0 auto; }
#wb_element_instance2_1 .wb-picture-wrapper { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; }
#wb_element_instance2_1 img { width: 100%; height: auto; }
#wb_element_instance1_1 { width: 99.33%; height: 835px; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance1_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 20px 20px 20px 20px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; background-color: transparent; justify-items: center; align-items: center; justify-content: flex-start; align-content: center; flex-wrap: wrap; }
#wb_element_instance1_1 > .wb_content > .wb_video_background { background: none; background-size: auto auto; opacity: 1; }
#wb_element_instance5_1 p:last-child { margin-bottom: 0; }
#wb_element_instance5_1 { opacity: 1; width: auto; height: auto; max-width: 800px; margin: 10px 10px 10px 10px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance6_1 p:last-child { margin-bottom: 0; }
#wb_element_instance6_1 { opacity: 1; width: auto; height: auto; max-width: 800px; margin: 10px 10px 10px 10px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance9_1 { opacity: 1; box-sizing: border-box; width: 40px; height: auto; max-width: 100%; margin: 0px 10px 0px 0px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance9_1 .wb-picture-wrapper { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; width: 100%; height: auto; }
#wb_element_instance9_1 .wb-picture-wrapper > a { width: 100%; height: auto; }
#wb_element_instance9_1 svg { width: 100%; height: 100%; max-height: 100%; overflow: visible; }
#wb_element_instance10_1 p:last-child { margin-bottom: 0; }
#wb_element_instance10_1 { opacity: 1; width: auto; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance8_1 { width: 40%; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; }
#wb_element_instance8_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: space-around; flex-wrap: nowrap; }
#wb_element_instance12_1 { opacity: 1; box-sizing: border-box; width: 40px; height: auto; max-width: 100%; margin: 0px 10px 0px 0px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance12_1 .wb-picture-wrapper { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; width: 100%; height: auto; }
#wb_element_instance12_1 .wb-picture-wrapper > a { width: 100%; height: auto; }
#wb_element_instance12_1 svg { width: 100%; height: 100%; max-height: 100%; overflow: visible; }
#wb_element_instance13_1 p:last-child { margin-bottom: 0; }
#wb_element_instance13_1 { opacity: 1; width: auto; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_element_instance11_1 { width: 40%; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; }
#wb_element_instance11_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: space-around; flex-wrap: nowrap; }
#wb_element_instance7_1 { width: 100%; height: auto; max-width: 741px; margin: 10px 10px 10px 10px; flex: 1 1 auto; }
#wb_element_instance7_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; justify-items: center; align-items: center; justify-content: space-between; align-content: space-around; flex-wrap: wrap; }
#wb_element_instance4_1 { width: 100%; height: auto; max-width: 1200px; flex: 1 1 auto; }
#wb_element_instance4_1.wb-anim-entry-on { animation: wb-anim-fade-in-none 0.6s ease-out; animation-iteration-count: 1; }
#wb_element_instance4_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 60px 20px 60px 20px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance3_1 { width: 100%; height: auto; min-height: 339px; max-width: 100%; flex: 1 1 auto; }
#wb_element_instance3_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; background-color: #000000; justify-items: center; align-items: center; justify-content: space-around; align-content: flex-start; flex-wrap: nowrap; }
#wb_element_instance3_1 > .wb_content:before { background: transparent url("../gallery_gen/77d404008ce056874a13475f19b0a712_fit.jpg") no-repeat scroll center center; background-size: cover; opacity: 0.35; content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
#wb_main_1 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_main_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; background: transparent none repeat left top; background-size: auto auto; opacity: 1; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance2539_0 p:last-child { margin-bottom: 0; }
#wb_element_instance2539_0 { opacity: 1; width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance2540_0 p:last-child { margin-bottom: 0; }
#wb_element_instance2540_0 { opacity: 1; width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance2541_0 p:last-child { margin-bottom: 0; }
#wb_element_instance2541_0 { opacity: 1; width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance2538_0 { width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; }
#wb_element_instance2538_0 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; justify-items: flex-start; align-items: stretch; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance2542_0 > .wb-elm-line { margin: 0 0 0 -1.5px; width: 1px; height: 100%; left: 50%; top: 0; border-left: 3px solid #ffffff;; }
#wb_element_instance2542_0 > .wb_content { width: 100%; height: 100%; }
#wb_element_instance2542_0 { width: 2%; height: 200px; max-width: 100%; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance2544_0 p:last-child { margin-bottom: 0; }
#wb_element_instance2544_0 { opacity: 1; width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance2545_0 p:last-child { margin-bottom: 0; }
#wb_element_instance2545_0 { opacity: 1; width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 1 1 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance2546_0 { width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 1 1 auto; padding: 0px 0px 0px 0px; }
#wb_element_instance2543_0 { width: auto; height: auto; max-width: 100%; margin: 10px 10px 10px 10px; flex: 0 0 auto; }
#wb_element_instance2543_0 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_element_instance2537_0 { width: 100%; height: auto; max-width: 1200px; flex: 1 1 auto; }
#wb_element_instance2537_0.wb-anim-entry-on { animation: wb-anim-fade-in-none 0.6s ease-out; animation-iteration-count: 1; }
#wb_element_instance2537_0 > .wb_content { min-width: 20px; min-height: 20px; padding: 60px 20px 60px 20px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; justify-items: center; align-items: center; justify-content: space-around; align-content: space-around; flex-wrap: wrap; }
#wb_footer_1 { width: 100%; height: auto; max-width: 100%; flex: 0 0 auto; }
#wb_footer_1 > .wb_content { min-width: 20px; min-height: 20px; padding: 0px 0px 0px 0px; border: 0px solid #000; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; background: #0b0f14 none repeat left top; background-size: auto auto; opacity: 1; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
#wb_footer_c_0 > .wb_content { width: 100%; height: 100%; }
#wb_footer_c_0 { width: 0px; height: 0px; max-width: 100%; flex: 0 0 auto; }


/* tablet */
@media (min-width: 768px) {
	#wb_element_instance2536_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2536_0 ul { background: transparent none repeat right top; }
	#wb_element_instance2536_0 .btn-collapser { display: none; }
	#wb_element_instance2536_0 > ul, #wb_element_instance2536_0-det > ul { display: block; }
	#wb_element_instance2_1 { margin: 0px 0px 23px 0px; }
	#wb_element_instance5_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance6_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance9_1 { margin: 0px 10px 0px 0px; }
	#wb_element_instance8_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance12_1 { margin: 0px 10px 0px 0px; }
	#wb_element_instance11_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance7_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2539_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2540_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2541_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2538_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2544_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2545_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2546_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2543_0 { margin: 10px 10px 10px 10px; }
}

/* desktop */
@media (min-width: 992px) {
	#wb_element_instance2536_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2_1 { margin: 0px 0px 23px 0px; }
	#wb_element_instance5_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance6_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance9_1 { margin: 0px 10px 0px 0px; }
	#wb_element_instance8_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance12_1 { margin: 0px 10px 0px 0px; }
	#wb_element_instance11_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance7_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2539_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2540_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2541_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2538_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2544_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2545_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2546_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2543_0 { margin: 10px 10px 10px 10px; }
}

/* tv */
@media (min-width: 1200px) {
	#wb_element_instance2536_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2_1 { margin: 0px 0px 23px 0px; }
	#wb_element_instance5_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance6_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance9_1 { margin: 0px 10px 0px 0px; }
	#wb_element_instance8_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance12_1 { margin: 0px 10px 0px 0px; }
	#wb_element_instance11_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance7_1 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2539_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2540_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2541_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2538_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2544_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2545_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2546_0 { margin: 10px 10px 10px 10px; }
	#wb_element_instance2543_0 { margin: 10px 10px 10px 10px; }
}

/* desktop_and_smaller */
@media (max-width: 1199px) {
}

/* tablet_and_smaller */
@media (max-width: 991px) {
}

/* phone_only */
@media (max-width: 767px) {
	#wb_element_instance2536_0 { display: block; width: 32px; height: 29px; min-width: 32px; min-height: 29px; max-width: 32px; max-height: 29px; flex: 0 0 32px; }
	#wb_element_instance1_1 > .wb_content { background-color: transparent; flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance2_1 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance7_1 > .wb_content { flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance8_1 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance11_1 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance3_1 > .wb_content { background-color: #000000; flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance4_1 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance2542_0 { display: none; width: 100%; margin-left: 0; margin-right: 0; }
	#wb_element_instance2537_0 > .wb_content { flex-direction: column; justify-items: flex-start; align-items: center; justify-content: flex-start; align-content: stretch; flex-wrap: nowrap; }
	#wb_element_instance2538_0 { width: auto; margin-left: 0; margin-right: 0; }
	#wb_element_instance2543_0 { width: auto; margin-left: 0; margin-right: 0; }
}

/* tablet_only */
@media (min-width: 768px) and (max-width: 991px) {
}

/* desktop_only */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* phone_last */


/* touch_device */
@media (any-pointer: coarse) {
}

/* mouse_device */
@media (any-pointer: fine) and (min-width: 767px) {
}
